.article {
  list-style-type: none;
  padding: 2rem 0;
  transition: 0.3s ease all;
}

/*  -------- Media Queries ------- */

/* Desktop */
@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.5rem;
    margin: 1rem 0 0;
  }
  
  .list-container {
    display: flex;
    /* max-width: 1200px; */
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .article {
    flex: 0 0 28%;
    padding: 2rem 1.5rem;
  }

  .article:hover {
    background-color: rgb(233, 233, 233);
    transform: scale(1.02);
  }
}