<header role="banner">
    <h1>Verge News</h1>
</header>
<main id="main" role="main">
    <section id="search"></section>
    <section id="paging"></section>
    <section id="articles"></section>
</main>
<footer role="contentinfo">
    Articles from <a href="https://www.theverge.com/" alt="Link to News API" target="_blank" rel="author noopener noreferrer">The Verge</a> via <a href="https://newsapi.org/s/the-verge-api" alt="Link to News API" target="_blank" rel="author noopener noreferrer">NewsAPI</a> &nbsp; — &nbsp; Ivan Limongan
</footer>