<header role="banner">
    <h1>Tech Face</h1>
    <h4>Tech news for your face</h4>
</header>
<main id="main" role="main">
    <div id="loading" class="hidden">Loading</div>
    <section id="search"></section>
    <section id="paging"></section>
    <section id="news"></section>
</main>
<footer role="contentinfo">
    <p>Articles from <a href="https://www.theverge.com/" alt="Link to News API" target="_blank" rel="author noopener noreferrer">The Verge</a> via <a href="https://newsapi.org/s/the-verge-api" alt="Link to News API" target="_blank" rel="author noopener noreferrer">NewsAPI</a> &nbsp; — &nbsp; <a href="https://github.com/limongoo/news-feed" target="_blank" rel"author noopener noreferrer">Ivan Limongan</a></p>
</footer>